.results-card {
  display: flex;
  width: 90%;
  border: 1px solid black;
  margin: 1rem;
}

.results-general {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5rem;
}

.ratio-wrapper, .champ-wrapper {
  margin: 0.5rem;
}

.loader-gif {
  width: 5rem;
  height: auto;
}